@containerColor: #f2f3f4;
@themeColor: #009ff0;

.wrapper {
    width: 750px;
    background-color: @containerColor;
    flex-direction: column;
}
.content {
    overflow: scroll;
    width: 750px;
    flex: 1;
}
